/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 720px;
}
      
/* Optional: Makes the sample page fill the window. */
html,
body { 
    padding: 10px; 
    margin: 10px;
}